extends layout/default.pug
block styles
    link(href='cssBundle',rel='stylesheet')
block content
    div.test 
        | webpack 32
block scripts       
    script(src="jsBundle",type="text/javascript")